body {
    .navbar {
        .container {
            #logo {

            }
        }
    }
}

.slide {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#intro {

}

#why {

}

#how {

}

#progress {

}

#team {

}

#vision {

}

#footer {

}
