<div id="positionTmpl">
    <section id="hero-content">
        <div class="sec-container">
            <div class="hero-title">
                <h1>{{position.title}}</h1>
            </div>
            <p class="back-btn">
                <a ui-sref="careers">Back to openings</a>
            </p>
        </div>
    </section>

    <section class="job-description">

        <div class="sec-container">
            <p>{{position.longDes}}</p>
            <ul>
                <li ng-repeat="responsibility in position.responsibilities">{{responsibility.item}}</li>
            </ul>
            <ul>
                <li ng-repeat="bonus in position.bonuses">{{bonus.point}}</li>
            </ul>
            <p>{{position.closing}}</p>
        </div>

    </section>
</div>
