<div id="positionTmpl">
    <section id="hero-content" back-img="{{position.image}}">
        <div class="sec-container">
            <div class="hero-title">
                <h1>{{position.title}}</h1>
            </div>
            <p class="back-btn">
                <a ui-sref="careers">Back to openings</a>
            </p>
        </div>
    </section>

    <section class="job-description">

        <div class="sec-container">
            <h3>Position Details</h3>
            <p>{{position.longDes}}</p>
            <h4>Responsibilities &amp; Requirements</h4>
            <ul>
                <li ng-repeat="responsibility in position.responsibilities">{{responsibility.item}}</li>
            </ul>
            <h4>Extras</h4>
            <ul>
                <li ng-repeat="bonus in position.bonuses">{{bonus.point}}</li>
            </ul>
            <p>{{position.closing}}</p>
        </div>

    </section>

    <section id="application">
        <div class="sec-container">
            <iframe src="https://docs.google.com/forms/d/1sGybcj8__gpsXRI3CTUaOf9-WYEK-12tK515B9vSCkk/viewform?embedded=true" width="720" height="1600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
        </div>
    </section>

</div>
