.container-nav {
	width: 1170px;
	margin: 0 auto;
	@media all and (max-width: 1250px) {
		.container-nav {
			width: 94%;
		}
	}
}

//.chrona-page-logo {
.navbar-default {
	padding: 25px 0;
	border: 0;
	background-color: transparent;
	-webkit-transition: padding .3s;
	-moz-transition: padding .3s;
	transition: padding .3s;
	.navbar-shrink {
		padding: 10px 0;
		background-color: #fff;
		border-bottom: 2px solid #3b3ba8;
	}
	.navbar-brand {
    font-family: 'FrutigerLTStd-Roman',"Helvetica Neue",Helvetica,Arial,cursive;
    color: #f84b00;
    background-image: url(../img/chrona-header-24.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 275px;
    height: 54px;
	}
	.nav li a {
		text-transform: uppercase;
		font-family: 'FrutigerLT-Bold',Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		letter-spacing: 1px;
		color: #fff;
		line-height: 40px !important;
		-webkit-transition: all .5s ease-out;
		-moz-transition: all .5s ease-out;
		-o-transition: all .5s ease-out;
		transition: all .5s ease-out;
	}
	.nav:first-child {
		> .active > a {
			background-color: #d89339;
			color: #fff;
			&:hover {
				color: #fff;
			}
		}
		li a {
			color: #4D4D4D;
		}	
	}
}

.navbar-right li {
	background-color: #4D4D4D;
	padding: 6px 0 4px 0;
	margin: 0px 3px;
	border-radius: 4px;
	&:last-child {
		margin-right: 0;
		background-color: #3b3ba8;
	}
	&:nth-child(3) {
		background-color: #4D4D4D;
	}
}

.nav-sn:focus {
	color: #fff !important;
}


















