// Colors
$primary: #00259A;
$secondary: #e7a236;
$tertiary: #CAC8C8;
$quaterary: #646569;

//Ultradia Colors
$ult-primary: #F84B00;
$ult-secondary: #444;

//Fonts
$regular: FrutigerLTStd-Roman;
$light: FrutigerLTStd-Light;
$bold: FrutigerLT-Bold;