.hero-content {
	position: relative; /* positioning will be explained in a resource */
	min-height: 600px; /* hero content element must be _at least_ 600 pixels */
	background-image: url(../../img/bg-tile.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}